
* {
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  font-size: 11px;
  background: rgb(219, 219, 219);
}
ul {
  padding: 0;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
  text-shadow: inherit;
}
main {
  flex-wrap: wrap;
  justify-content: center;
}
article {
  width: 100%; /*sin esta propiedad el width no se reduce mas que 460.8px*/
  max-width: 460.8px;
}
nav {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  text-shadow: 0 0 0.5px rgb(0, 0, 0);
  color: rgb(44, 44, 44);
  background-color: rgb(187, 215, 216);
  box-shadow: 0 0 1.2px 0 rgb(0, 0, 0);
}
blockquote {
  margin: 0;
  background-image: url(https://s3.amazonaws.com/static.globalvoices/img/tmpl/quote-l-64.png);
  background-repeat: no-repeat;
  background-size: 1.3rem;
  background-position: 0.75rem 0.75rem;
  background-color: #ededed;
}
audio {
  width: 60%;
}
video {
  width: 80%;
}
table,
audio,
video {
  margin: 5px auto 30px;
}
th {
  border: black solid 1px;
}
td,
th {
  padding: 3px;
}
footer {
  flex-direction: column;
  justify-content: space-between;
  color: #ededed;
  overflow: auto;
  background: rgb(44, 44, 44);
}
.main-logo {
  width: 14vw;
}
.main-logo,
nav ul,
nav form {
  padding: 4px 12px;
  margin: 0;
}
nav form img {
  width: 10px;
}
nav > div {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
nav li {
  padding: 5px 10px;
}
nav input,
nav button {
  flex-grow: 1;
  padding: 2px;
  border: 0.2px solid rgb(53, 53, 53);
  background: rgb(236, 236, 236);
}
aside[class^="side-article"] {
  max-width: 153.6px;
}
main > * {
  padding: 30px;
}
.container {
  display: flex;
}
div.profile.container {
  align-items: center;
}
.profile > * {
  margin: 7px;
}
.profile img {
  border-radius: 50%;
}
.profile small {
  display: flex;
  flex-direction: column;
}
.header-img {
  margin: auto;
}
.header-img img {
  width: 100%;
}
.header-img figcaption {
  padding: 10px;
  background-color: rgb(133, 133, 133);
}
blockquote p {
  padding: 10px 30px;
}
aside[class^="side-article"] img {
  width: 100%;
}
.company-peoples-names {
  padding: 0;
  text-align: center;
}
.container.audiovideo {
  flex-direction: column;
  justify-content: center;
}
table * {
  text-transform: capitalize;
}
tr:nth-child(even) {
  background-color: #acacac;
}
footer > * {
  margin: 50px 0 5px;
  text-transform: capitalize;
}
footer > .container {
  justify-content: center;
}
.footer-element {
  margin: 15px;
}
.final-tag {
  text-align: center;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  main {
    flex-wrap: nowrap;
  }
  nav form img {
    width: 20px;
  }
  .profile img {
    flex-shrink: 0;
  }
  nav.container {
    justify-content: space-between;
  }
  nav form {
    order: 3;
  }
  article {
    flex-grow: 3;
    order: 2;
    max-width: none;
  }
  aside[class^="side-article"] {
    max-width: none;
    flex-grow: 1;
  }
  .side-article-L {
    order: 1;
  }
  .side-article-R {
    order: 3;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 25px;
  }
  nav form img {
    width: 30px;
  }
  aside[class^="side-article"] {
    max-width: 400px;
  }
}
